@media screen and (min-width: 540px){
    .section1{
        padding: 50px 0; /*128px 0*/
    }
    .section1-container{
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .section1-container-block1{
        padding: 32px 0;
    }
    .section1-container-block1-text1{
        font-size: 30px; /* 36px */    
    }
    .section2-container{
        width: 95%;
        margin: 0 auto;
        padding: 96px 20px;    /*96px 108px 96px 80px*/
    }
    .section2-container-block2-text2{
        width: 516px;
    }
    .section2-container-block2-title{
        width: 481px;
    }
    .section2-container-block1-text2{
        width: 515px;
    }
    .section2-container-block1-title{
        width: 494px;
    }
    .section2-container-blocks{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center
    }
    .section2-container-color-yellow{
        background-color: #FFD050;
        padding: 12px 130px;
    }
    .section2-container-color-purple{
        background-color: #592EA9;
        padding: 12px 70px;
    }
    .section4{
        padding-bottom: 0;
    }
    /* .section4-container{
        background-image: url('../img/close-up.png');
    } */
    .section4-container-block{
        background: var(--light, #FFF); 
        padding: 40px 10px;  /*80px*/   
    }
    .section4-container-block-text1{
        margin-bottom: 24px ;
    }
    .section4-container-block-title{
        /*width: 546px;*/
        font-size: 35px; /* 48px */
        line-height: 50px; /* 64px */ 
        margin-bottom: 16px ;
    }
    .section4-container-block-text2{
        /*width: 546px;*/
        margin-bottom: 32px ;
    }
    .section6{
        padding: 40px 20px;
    }
    .section6-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    .section6-container-titleBlock{
        margin-bottom: 20px;
    }
    .section6-container-img{
        width: 160px;
        margin-bottom: 20px;
    }
    .section7-container{
        width: 95%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px){
    .section1{
        padding: 80px 0; /*128px 0*/
    }
    .section1-container{
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .section1-container-block1{
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section1-container-blocks-block1{
        margin-bottom: 30px;
        /* padding: 32px; */
    }
    .section1-container-block1-text1{
        font-size: 36px; /* 36px */    
    }
    .section1-container-blocks-block1-img{
        width: 380px; /*699px*/
    }
    .section1-container-blocks-block1-text2{
        width: 380px; /*699px*/
    }
    .section1-container-blocks-block1-text3{
        width: 351px; /*551*/
    }
    .section1-container-blocks-block2-block{
        width: 300px;  /*517px*/
        padding: 10px;
        margin-bottom: 10px;
    }
    .section1-container-blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section2-container{
        width: 90%;
        margin: 0 auto;
        padding: 96px 20px;    /*96px 108px 96px 80px*/
    }
    .section2-container-blocks{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center
    }
    .section2-container-color-yellow{
        background-color: #FFD050;
        padding: 12px 160px;
    }
    .section2-container-color-purple{
        background-color: #592EA9;
        padding: 12px 90px;
    }
    .section4-container-img{
     display: none;    
    }
    .section4-container-block{
        width: 400px;
    }
     .section4-container{
        width: 90%;
        margin: 0 auto;
        background-image: url('../img/close-up.png');
        background-position: center;
        padding: 49px 0 0;
    }
    .section4-container-block{
        background: var(--light, #FFF); 
        padding: 60px 10px;  /*80px*/
        margin-left: auto; 
    }
    .section4-container-block-title{
        /*width: 546px;*/
        font-size: 35px; /* 48px */
        line-height: 50px; /* 64px */ 
        margin-bottom: 16px ;
    }
    .section6{
        padding: 40px 20px;
    }
    .section6-container{
        width: 84%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    .section6-container-titleBlock{
        margin-bottom: 20px;
    }
    .section6-container-img{
        width: 160px;
        margin-bottom: 20px;
    }
    .section7-container{
        padding: 80px 0 75px; /* 80px 112px 75px */
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section7-container-block1-title{
        width: 300px; /*345px*/
    }
    .section7-container-block1-text2{
        width: 300px; /*349px*/
    }
    .section7-container-block2-text1{
        width: 400px;  /*496px*/
    }
    .section7-container-block1{
        padding: 0px;
    }
    .section7-container-block2{
        padding: 0px;
    }
}
@media screen and (min-width: 992px){
    .section1{
        padding: 100px 0; /*128px 0*/
    }
    .section1-container{
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .section1-container-block1{
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section1-container-blocks-block1{
        margin-bottom: 30px;
        padding: 32px;
    }
    .section1-container-blocks-block1-img{
        width: 480px; /*699px*/
    }
    .section1-container-blocks-block1-text2{
        width: 480px; /*699px*/
    }
    .section1-container-blocks-block1-text3{
        width: 451px; /*551*/
    }
    .section1-container-blocks-block2-block{
        width: 345px;  /*517px*/
        padding: 32px ;
        margin-bottom: 10px;
    }
    .section1-container-blocks{
        display: flex;
        text-align: left;  
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section2-container{
        width: 90%;
        margin: 0 auto;
        padding: 96px 40px;    /*96px 108px 96px 80px*/
    }
    .section2-container-blocks{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center
    }
    .section2-container-color-yellow{
        background-color: #FFD050;
        padding: 12px 200px;
    }
    .section2-container-color-purple{
        background-color: #592EA9;
        padding: 12px 120px;
    }
    .section4-container-block{
        width: 450px;
    }
     .section4-container{
        width: 90%;
        margin: 0 auto;
        background-image: url('../img/close-up.png');
        background-position: center;
        padding: 121px 0 0;
    }
    .section4-container-block{
        background: var(--light, #FFF); 
        padding: 80px  10px;  /*80px*/
        margin-left: auto; 
    }
    .section4-container-block-title{
        /* width: 546px; */
        font-size: 35px; /* 48px */
        line-height: 50px; /* 64px */ 
        margin-bottom: 16px ;
    }
    .section6-container{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    .section6-container-titleBlock{
        margin-bottom: 20px;
    }
    .section6-container-img{
        width: 160px;
        margin-bottom: 20px;
    }
    .section7-container{
        padding: 80px 0 75px; /* 80px 112px 75px */
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section7-container-block1-title{
        width: 345px; /*345px*/
    }
    .section7-container-block1-text2{
        width: 349px; /*349px*/
    }
    .section7-container-block2-text1{
        width: 470px;  /*496px*/
    }
    .section7-container-block1{
        padding: 0px;
    }
    .section7-container-block2{
        padding: 0px;
    }
}
@media screen and (min-width: 1280px){
    .section1{
        padding: 128px 0; /*128px 0*/
    }
    .section1-container{
        width: 1280px;
        padding: 0;
        margin: 0 auto;
    }
    .section1-container-block1{
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section1-container-blocks-block1{
        margin-bottom: 30px;
        padding: 32px;
    }
    .section1-container-blocks-block1-img{
        width: 669px; /*699px*/
    }
    .section1-container-blocks-block1-text2{
        width: 669px; /*699px*/
    }
    .section1-container-blocks-block1-text3{
        width: 551px; /*551*/
    }
    .section1-container-blocks-block2-block{
        width: 517px;  /*517px*/
        padding: 32px 115px 25px 32.1px;
        margin-bottom: 10px;
    }
    .section1-container-blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section1-container-blocks-block2-text2{
        width: 369px;
    }
    .section1-container-blocks-block1-text1{
        margin-bottom: 8px;
        text-align: left;
    }
    .section2-container{
        width: 1280px;
        margin: 0 auto;
        padding: 96px 108px 96px 80px;    /*96px 108px 96px 80px*/
    }
    .section2-container-blocks{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-between
    }
    .section2-container-color-yellow{
        background-color: #FFD050;
        padding: 12px 350px;
    }
    .section2-container-color-purple{
        background-color: #592EA9;
        padding: 12px 170px;
    }
    .section2-container-color{
        margin-right: 119px;
        visibility: visible;
        max-width: 1280px;
        margin: auto;
    }
    .section4-container-block{
        width: 706px;
    }
     .section4-container{
        width: 1280px;
        margin: 0 auto;
        background-image: url('../img/close-up.png');
        background-position: left;
        padding: 121px 0 0;
    }
    .section4-container-block{
        background: var(--light, #FFF); 
        padding: 80px;  /*80px*/
        margin-left: auto; 
    }
    .section4-container-block-title{
        width: 546px;
        font-size: 48px; /* 48px */
        line-height: 64px; /* 64px */ 
        margin-bottom: 16px ;
    }
    .section6-container{
        width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    .section6-container-titleBlock{
        margin-bottom: 20px;
    }
    .section6-container-img{
        width: 160px;
        margin-bottom: 20px;
    }
    .section7-container{
        padding: 80px 0 75px; /* 80px 112px 75px */
        width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .section7-container-block2-text1{
        width: 496px;  /*496px*/
    }
}